@import url("https://fonts.googleapis.com/css2?family=Baskervville+SC&family=New+Amsterdam&display=swap");
body {
  /* font-family: Verdana, Geneva, Tahoma, sans-serif;
   */
  /* font-family: "Baskervville SC", serif;
  font-size: 19px;
  line-height: 20px;
  font-weight: bolder; */
  font: normal 30px "Baskervville SC";
  /* text-decoration: line-through; */
  /* font-style: italic;
  letter-spacing: 2px;
  word-spacing: 20px;
 */
}
td {
  font-family: "Times New Roman", Times, serif;
}
.css p {
  font-size: 25px;
  font-family: Verdana;
  font-weight: bold;
}
