.color-1 {
  color: Coral;
}
/* RedGreenBlue */
.color-2 {
  /* color: #008b8b; */
  color: #ffffff;
}
.color-3 {
  color: #aff;
}
/* 0-255 */
.color-4 {
  color: rgb(223, 255, 124);
  /* opacity: 0,2;  контроль прозрачности */
}
.color-5 {
  color: rgba(0, 150, 0, 0.2);
}
